{
  "extends": "standard",
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "GENTLY": true,
    "chrome": true,
    "hterm" : true,
    "lib"   : true,
    "io"    : true
  },
  "rules": {
    "no-multi-spaces": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "key-spacing": [
      "error",
      {
        "multiLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "align": {
          "beforeColon": false,
          "afterColon": true,
          "on": "colon",
          "mode": "strict"
        }
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-var": [
      "error"
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
