@import '~xterm/dist/xterm';
@import '~toastify-js/src/toastify.css';

$black: #000;
$grey: rgba(0, 0, 0, 0.75);
$white: #fff;
$lgrey: #ccc;
$red: red;

html,
body {
  background-color: $black;
  height: 100%;
  margin: 0;
  overflow: hidden;

  #overlay {
    background-color: $grey;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;

    .error {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;

      #msg {
        align-self: center;
        color: $white;
      }

      input {
        align-self: center;
        margin: 16px;
      }
    }
  }

  #terminal {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  #options {
    height: 16px;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 16px;
    z-index: 20;

    a {
      .toggler {
        color: $lgrey;
        display: inline-block;
        font-size: 16px;
        position: absolute;
        right: 1em;
        top: 0;
        z-index: 20;

        :hover {
          color: $white;
        }
      }
    }

    .editor {
      background-color: rgba(0, 0, 0, 0.85);
      border-color: rgba(255, 255, 255, 0.25);
      border-radius: 0.3em;
      color: #eee;
      display: none;
      font-size: 24px;
      height: 100%;
      padding: 0.5em;
      position: relative;
      right: 2em;
      top: 1em;
      width: 100%;
      .error {
        color: $red;
      }
    }
  }

  #options {
    .opened {
      height: 50%;
      width: 50%;
      .editor {
        display: flex;
      }
    }
  }

  .toastify {
    border-radius: 0;
    color: $black;
  }
}

.xterm {
  .xterm-viewport {
    overflow-y: hidden;
  }
}
