@import '~xterm/dist/xterm';

$black: #000;
$grey: rgba(0, 0, 0, 0.75);
$white: #fff;
$lgrey: #ccc;

html,
body {
  background-color: $black;
  height: 100%;
  margin: 0;
  overflow: hidden;

  #overlay {
    background-color: $grey;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;

    .error {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;

      #msg {
        align-self: center;
        color: $white;
      }

      input {
        align-self: center;
        margin: 16px;
      }
    }
  }

  #terminal {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  #options {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 20;
    height: 16px;
    width: 16px;

    a.toggler {
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 0em;
      font-size: 16px;
      color: $lgrey;
      z-index: 20;

      :hover {
        color: $white;
      }
    }

    .editor {
      background-color: rgba(0, 0, 0, 0.85);
      padding: 0.5em;
      border-radius: 0.3em;
      border-color: rgba(255, 255, 255, 0.25);
      display: none;
      position: relative;
      height: 100%;
      width: 100%;
      top: 1em;
      right: 2em;
      color: #eee;
      font-size: 24px;
    }
    .editor.error {
      color: red;
    }
  }

  #options.opened {
    height: 50%;
    width: 50%;
    .editor {
      display: flex;
    }
  }
}
