---
name: Build and Publish
on:
  push:
    branches: ['main']
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Test & Link package
      - name: Setup env
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: yarn
        name: Install dependencies
      - name: ESLint checks
        run: yarn lint
      - run: yarn build
        name: Compile Typescript
      - run: yarn test
        name: Run tests
        env:
          CI: true

      # Publish to NPM
      - name: Publish if version has been updated
        uses: pascalgn/npm-publish-action@1.3.9
        with:
          tag_name: 'v%s'
          tag_message: 'v%s'
          commit_pattern: "^Release (\\S+)"
          publish_args: '--non-interactive'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.npm_token }}

      # Publish to Github PKG
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: 'https://npm.pkg.github.com'
      - name: Publish to Github PKG if version has been updated
        uses: pascalgn/npm-publish-action@1.3.9
        with:
          create_tag: false
          commit_pattern: "^Release (\\S+)"
          publish_args: '--non-interactive'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
