---
name: Run tests
on:
  pull_request:
jobs:
  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup env
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: yarn install
        name: Install dependencies
      - name: ESLint checks
        run: yarn lint
      - run: yarn build
        name: Compile Typescript
      - run: yarn test
        name: Run tests
  validate-docker:
    name: Validte Docker Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm/v6
          - linux/arm/v7
          - linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            wettyoss/wetty
          tags: |
            type=ref,event=pr
            type=sha
      - name: Build Docker
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: ${{ matrix.platform }}
          file: containers/wetty/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
